/* ▓▒▒▒▒▒▒▒▒▒▒▒《  》▒▒▒▒▒▒▒▒▒▒▒▓ */
.wrapper {
  margin-top: 12% !important;
}
h1 {
  font-size: 4rem !important;
  padding: 20px 0px 20px 0px;
}
blockquote {
  font-size: 2rem !important;
  padding: 20px 90px !important;
}
button {
  padding: 10px 30px;
  border-radius: 10px !important;
  border: none;
  margin-bottom: 30px !important;
}
.card-body {
  background-color: rgb(44, 44, 44) !important;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 3.5rem !important;
  }
  blockquote {
    font-size: 1rem !important;
    padding: 20px 10px !important;
  }
  .wrapper {
    margin-top: 25% !important;
  }
}
